{% extends "curingapp/base.html" %}
{% load crispy_forms_tags %}

{% block title %} 
   {{ page_title }}
{% endblock title %}

{% block formcontent %}
<div class='h-25 w-50 jumbotron' style="margin-left: auto; margin-right:auto;margin-top:25px;">
    <div class="text-center"><h2 style="color:darkcyan;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"> Change Password </h2></div>
    <form method="post" id="loginform">
        {% csrf_token %}
        <br>
        <div class="col-12 mx-auto">
            {{ form | crispy }}
        </div>
        <br>
        <div class="col-12 text-center">
            <button class="btn btn-primary btn-lg rounded-lg" type='submit' style="width:100%;"> Change Password </button><br>
        </div>
    </form>
</div>
{% endblock formcontent %}